<div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Schedules list</span>
        <span class="badge badge-secondary badge-pill">{{ schedules|count }}</span>
    </h4>
    <ul class="list-group mb-3 schedules-block">
        {% for schedule in schedules %}
        <li role="schedule" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">{{schedule.name}}</h6>
                <small class="text-muted">{{schedule.description}}</small>
            </div>
            <!--<span class="text-muted">{{schedule.id}}</span>-->
        </li>
        {% endfor %}
    </ul>
    <button
            type="button"
            class="btn btn-primary btn-lg btn-block"
            data-toggle="modal" data-target="#exampleModal">
        Add new schedule
    </button>
</div>

<!-- Modal -->
<div class="modal fade"
     id="exampleModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label>Schedule name:</label>
                        {{ schedule_form.name(class_="form-control", type="text")}}
                    </div>
                    <div class="mb-3">
                        <label>Schedule description:</label>
                        {{ schedule_form.description(class_="form-control", type="text")}}
                    </div>
                    <div class="mb-3">
                        <label>Schedule type:</label>
                        {{ schedule_form.type(class_="custom-select d-block w-100")}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
