<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Vadim N. GCORE Labs">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/schedules_block.css') }}">
        <!--<link rel="icon" href="../../../../favicon.ico">-->
        <script src="{{  url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
        <script src="{{  url_for('static', filename='js/bootstrap.min.js')}}"></script>


        <title>Scheder</title>
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{{ url_for('main') }}">SCHEDER</a>
            <button
                type="button"
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('scenarios') }}">Scenarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('settings') }}">Settings</a>
                    </li>

                    {% if user.is_admin() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.index') }}">Admin controls</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <span class="nav-link">{{user.name}}</span>
                        </li>
                        <li>
                             <a class="btn btn-outline-success my-2 my-sm-0"
                               href="{{ url_for('security.logout') }}"
                               style="margin-left: 10px;">Logout</a>
                        </li>
                    </ul>

                </div>
                <!--<ul class="navbar-nav mr-auto my-2 my-lg-0">-->
                    <!--<li class="nav-item">-->

                    <!--</li>-->
                <!--</ul>-->
                <!--<form class="form-inline my-2 my-lg-0">-->
                    <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
                    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <!--</form>-->
             </div>
        </nav>
        <main role="main" class="container" style="margin-top: 100px;">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>